
#guideStyle{
    background-color: #F6B352;
    width:60%;
    font-family: 'Montserrat';
    color: black;
    margin-bottom: 5%;
}

#linkStyle{
    /* background-color: #F6B352; */
    /* width:275%; */
    display: "table-cell";
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#linkStyle:active{
    background-color: #FFFFFF;
}