
#guideStyle{
    width:80%;
    font-family: 'Roboto';
    color: white;
    margin-bottom: 5%;
    border-width: 2px;
}

#linkStyle{
    /* background-color: #F6B352; */
    /* width:275%; */
    display: "table-cell";
    font-family: 'Roboto';
    color: black;
}

#linkStyle:active{
    background-color: #FFFFFF;
}
