#main-body{
    background: #03071E;
    height: 100vh;
}

#login-form{
    padding-top: 10%;
}

#email{
   width:35%;
   margin-left:32.5%;
}

#password{
    width:35%;
    margin-left:32.5%;
 }

#email-label{
    font: "Roboto";
    color: white;
    font-size: 125%;
}
 
#password-label{
    font: "Roboto";
    color:white;
    font-size: 125%;
}

::placeholder{
    font: "Roboto";
}

#login-in-button{
    font: "Roboto";
    background: #FAA307;
    color: black;
    border: none;
    margin-bottom: 10px;
}

#login-failed {
    font: "Roboto";
   font-size: 100%;
   margin-top: 20px;
   color: red;
}

#sign-up-tag{
    font: "Roboto";
   font-size: 90%;
   margin-top: 100px;
}