#main-body{
    background: #03071E;
    height: 50vh;
}

#login-form{
    padding-top: 0%;
    margin-left: 1.4rem;
}

#email{
   width:35%;
   margin-left:3%;
   
}

#password{
    width:35%;
    margin-left:3%;
}

#email-label{
    margin-left:3%;
    font: "Monsterrat";
    color: white;
    font-size: 125%;
    text-align:left;
}

#password-label{
    margin-top:3%;
    margin-left:3%;
    font: "Monsterrat";
    color: white;
    font-size: 125%;
    text-align:left;
}

::placeholder{
    font: "OpenSans";
}

#login-in-button{
    margin-top: 10%;
    margin-left: 7%;
    font: "OpenSans";
    font-size: 20px;
    background: #6A040F;
    color: white;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    padding:10px;
    width: 200px;
    text-align:center;

}

#login-in-button:hover{
    background: #791d27;
    transition: background ease-in-out 0.3s;
}

#register-button{
    margin-top: 10%;
    margin-left: 5%;
    font: "OpenSans";
    font-size: 20px;
    background: #F48C06;
    color: white;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    padding:10px;
    width: 200px;
    text-align:center;

}

#register-button:hover{
    background: #f6a338;
    transition: background ease-in-out 0.3s;
}

#login-failed {
    font: "Roboto";
   font-size: 100%;
   margin-top: 20px;
   color: red;
}

#sign-up-tag{
    font: "Roboto";
   font-size: 90%;
   margin-top: 100px;
}

.murtislogo{
    margin-top: 100px;
    height: auto;
    width: auto;
}



@media only screen and (max-width: 1128px) {

}