.color-nav{
<<<<<<< HEAD
    background-color: #370616;
=======
    background-color: #03071E;
>>>>>>> 070f680... added flow
}

#submit-button{
    background: #FFBA08;
    color: black;
}


#logo{
    height: 50px;
    width: 100px;
    border-width: 0px;
}
